@font-face

/*Téléchargement de la police Raleway*/
    {
    font-family: 'Raleway';
    src: url('static/Raleway-Black.ttf'),url('static/Raleway-BlackItalic.ttf'),url('Raleway-VariableFont_wght.ttf'),url('Raleway-Italic-VariableFont_wght.ttf')
    }

* {
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}

/*General*/

* {
    margin: 0;
    padding: 0;
}    

.container {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: large;
}

p {
    font-size: 14px;
    margin-top: 5px;
    padding-left: 5px;
}

h3 {
    font-weight: bold;
}

/* Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.headernavlink {
    padding-top: 30px;
}

/*Navigation*/

.fas {
    color: #0065fc;
}

.navigation {
    display: flex;
}

nav a {
    font-size: 0.9em;
    color: black;
    padding-top: 3px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
    
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

header nav a {
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

.hebergements-activites a:hover {
    border-top: 3px solid #0065FC;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 55px;
    width: 40px;
    height: 20px;
    padding: 10px;
    font-size: 1.0em;
}

/*Titre principal*/

.titre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.titre-principal {
    display: flex;
    flex-direction: column;
}

.titre-trouvez 
  h1 {

    font-size: 30px; 
    margin: 1px 0 1px 1px; 
}

/*Barre de recherche*/

.gps-logo {
  display: flex;
  position: relative;
  width: 54px;
  height: 56px;
  background-color: #F2F2F2;
  border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section-recherche {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 15px;
}

.barre-de-recherche {
    display: flex;
    justify-content: flex-start;
}

.rechercher {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;  
}

.rechercher:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}

#rechercher-loupe {
  display: none;
}

/*Filtres*/

#filtres-section {
    display: flex;
    align-items: center;
    margin: 32px 0px 41px 0px;
}

.filtre-bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;
}

.circle-icon-filter {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #DEEBFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 1px;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
}

.filtre p {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 65px;
    border-radius: 25px;
    font-weight: bold;
}

.titre-filtres p {
    font-weight: bold;
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 1.5em;
}   


.nombre-logements .fas {
  color: #0065fc;
  font-size: 16px;
  padding: 7px 11px 7px 11px;
  border: solid 1px #D9D9D9;
  border-radius: 2000px;
  margin-right: 20px;

}

.nombre-logements p {
  display: inline;

}

.nombre-logements {
    margin: 0px 0px 35px 5px;
}

.filtre-bouton:hover {
    text-decoration: underline;
    color: #0065FC;

}

/*Hébergements a Marseille*/

#hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
}

.titre-hebergements-a-marseille {
     display: block;
     width: 100%;
     margin-left: 10px;
     margin-bottom: 30px;
}

#hebergements-a-marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 20px;
    padding: 44px 36px 10px 36px;
    max-width: 815px;
}

.conteneur-hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 60px;
}

.carte-hebergement {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 240px;
    max-height: 220px;
    margin-bottom: 35px;
}

.hebergement_image {
    padding-left: 5px;
    padding-right: 5px;
}

.photo-hebergement {
    object-fit: cover;
    width: 236px;
    height: 132px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergement-contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1px 0px 27px 9px
}

.titre-contenu {
    padding-top: 5px;
    padding-bottom: 1px;
}

.prix-contenu {
    padding-top: 0px;
    padding-bottom: 3px;
}

.hebergement-notation {
    padding-top: 10px;
    padding-bottom: 11px;
}

.hebergement-contenu h3,
.hebergement-populaire-contenu h3 {
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

.hebergement-montrer-plus {
     font-weight: bold;
     margin-left: auto;
     margin-right: auto;
}

.fas.fa-star.grey-star {
    color: grey;
}

/*Les plus populaires*/

.titre_popularite {
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titre-les-plus-populaires {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fa-chart-line {
    margin: 0;
}

#container-hebergements-populaires {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 27px 38px 15px 38px;
    max-width: 345px;

}

.hebergement-les-plus-populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-populaire-carte {
    border: 5px solid white;
    border-radius: 18px;
    display: flex;
    background-color: white;
    padding: 5px 50px 45px 1px;
    max-width: 370px;
    max-height: 100px;
    margin-bottom: 50px;

}

.photo-populaire {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.hebergement-populaire-contenu {
    display: flex;
    flex-direction: column;
    padding: 1px 0px 1px 10px
        
}

.titre-populaire-contenu {
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.prix-populaire-contenu {
    padding-bottom: 18px;
}

.hebergement-notation-populaire {
    max-width: 94px;
    max-height: 20px;
    padding-left: 5px;
    padding-top: 22px;
}

/*Activités à Marseille*/

#Activites-a-Marseille {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;
}

.titre-activites {
    margin-bottom: 30px;
    font-size: 25px;
}

.activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activite2et3,
.activite5et6 {
    display: flex;
    flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 30px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.photo-activite1,
.photo-activite2,
.photo-activite3,
.photo-activite4,
.photo-activite5,
.photo-activite6 {
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1px 0px 22px 0px;
}

.photo-activite11,
.photo-activite22,
.photo-activite33,
.photo-activite44,
.photo-activite55,
.photo-activite66 {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Activites-a-Marseille h1 {
    font-size: 25px;
}

#Activites-a-Marseille h2 {
    font-size: medium;
}

.activites .activite1:hover,
.activites .activite2:hover,
.activites .activite3:hover,
.activites .activite4:hover,
.activites .activite5:hover,
.activites .activite6:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}

/* Footer */

footer {
    max-width: 1350px;
    padding: 48px 20px 51px 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.titre-apropos {
    padding-bottom: 22px;
}

.a-propos {
    display: flex;
    flex-direction: column;
}

.titre-noshebergements {
    margin-bottom: 22px;
}

.nos-hebergements {
    display: flex;
    flex-direction: column;
}

.titre-assistance {
    padding-bottom: 22px;
}

.assistance {
    display: flex;
    flex-direction: column;
}

footer h4 {
    font-weight: normal;
}

footer h2 {
    font-size: large;
}

/*Responsive Media Queries*/

@media all and (min-width: 1300px) and (max-width: 2560px) {   
 
    .photo-activite11,
    .photo-activite44 {
        width: 301px;
        height: 390px;
    }

    .photo-activite22 {
        width: 304px;
        height: 183px;
    }

    .photo-activite33 {
        width: 304px;
        height: 112px;
    }

    .photo-activite55 {
        width: 304px;
        height: 141px;
    }

    .photo-activite66 {
        width: 304px;
        height: 155px;
    }
}

@media all and (max-width: 1360px) {

    header,
    .titre,
    #filtres-section {
        margin-left: 15px;
    }
}

@media all and (max-width: 1300px) {

    #hebergements-a-marseille {
        margin-bottom: 50px;
    }

    .hebergement-les-plus-populaires {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #container-hebergements-populaires {
        max-width: 805px;
    }

    .photo-activite11 {
        width: 301px;
        height: 390px;
    }

    .photo-activite44 {
        width: 304px;
        height: 391px;
    }

    #Activites-a-Marseille {
        margin-left: 45px;
    }

    .photo-activite11,
    .photo-activite22,
    .photo-activite33,
    .photo-activite44,
    .photo-activite55,
    .photo-activite66 {
        width: 309px;
        height: 112px;
    }

    .activite1,
    .activite2,
    .activite3,
    .activite4,
    .activite5,
    .activite6 {
        width: 309px;
        height: 182px;
        margin-right: 20px;
    }
    
    .activite2et3,
    .activite5et6 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .activites {
        display: flex;
        justify-content: flex-start;
    }

}

@media all and (max-width: 1006px) {

    .a-propos {
        margin-bottom: 20px;
    }

    .nos-hebergements {
        margin-bottom: 20px;
    }

@media all and (max-width: 768px) {

        .filtre-bouton {
            margin-bottom: 5px;
        }

        .hebergement-populaire-contenu {
            width: 145px;
        }

        #Activites-a-Marseille {
            margin-left: 50px;
        }
  
 }

   @media all and (max-width: 425px)  {
       header {
            position: relative;
            margin-bottom: 50px;
        }

        .rechercher {
            display: none;
        }

        #rechercher-loupe {
            display: block;
            width: 40px;
            background-color: #0065FC;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 0 1rem 1rem 0;
        }

        .rechercher-loupe .fas {
            color: white;
        }

       header,
        .titre,
        #filtres-section {
            margin-left: 0px;
        }

        .headersignup {
            margin-right: 10px;
        }

        .hebergements_activites {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        #Activites-a-Marseille {
            margin-left: 0px;
        }

        .box-populaire-carte {
            max-width: 270px;
        }

        .carte-hebergement,
        .activite1,
        .activite2,
        .activite3,
        .activite4,
        .activite5,
        .activite6 {
            box-shadow: 0 0 20px #0000002e;
        }

        .titre-trouvez,
        .titre-enplein,
        .barre-de-recherche {
            margin-left: 15px;
        }

        #hebergements-a-marseille:nth-child(1) {
            order: 2;
        }

        #container-hebergements-populaires:nth-child(2) {
            order: 1;
        }

        #container-hebergements-populaires {
            border-radius: 0px;
        }

        .filtre-bouton {
            margin-bottom: 5px;
        }

        #filtres-section {
            flex-direction: column;
        }

        .titre-filtres {
            align-self: flex-start;
            margin: 0px 0px 20px 30px;
        }

        #container-hebergements-populaires {
            margin-bottom: 20px;
            padding-left: 44px;
        }

        .carte-hebergement {
            max-width: 354px;
            margin-left: 10px;
        }

        .hebergement-montrer-plus {
            margin-left: 20px;
        }

        .photo-hebergement {
            width: 320px;
            margin-left: 2px;
        }

        .activite1,
        .activite2,
        .activite3,
        .activite4,
        .activite5,
        .activite6 {
            width: 340px;
        }

        .activites {
            padding-left: 15px;
        }

        .photo-activite11,
        .photo-activite22,
        .photo-activite33,
        .photo-activite44,
        .photo-activite55,
        .photo-activite66 {
            width: 330px;
            margin-left: 5px;
            margin-top: 5px;
        }

        .activites {
            justify-content: center;
            align-items: center;
        }

        .navigation {
            display: flex;
            flex-direction: row;
            width: 425px;
            justify-content: center;
        }

        .hebergementancre {
            width: 212px;
        }

        #logo {
            align-self: flex-start;
            margin-left: 10px;
        }

        header {
            display: flex;
            position: relative;

        }

        .sinscrire {
            position: absolute;
            bottom: 50%;
            right: -6%;

        }

        .activite1,
        .activite2,
        .activite3,
        .activite4,
        .activite5,
        .activite6 {
            border-color: white;
            max-width: 375px;
            margin-left: 10px;
        }

        .activite2et3,
        .activite5et6 {
            display: flex;
            flex-direction: column;
        }

        .activites {
            flex-direction: column;
        }

        .titre-activites {
            margin-left: 60px;
        }

        #logo {
            margin-left: 20px;
        }

        .conteneur-hebergement {
            margin-bottom: 0px;
        }

        #hebergement {
            margin-bottom: 0px;
        }

        .activite6 {
            margin-bottom: 0px;
        }

        .titre_hebergements-a-marseille {
            margin-left: 20px;
        }

        .titre-activite1,
        .titre-activite2,
        .titre-activite3,
        .titre-activite4,
        .titre-activite5,
        .titre-activite6 {
            margin-left: 15px;
        }

        .hebergements_activites {
            border-bottom: 3px solid #F2F2F2;
            padding-bottom: 10px;
        }

        .hebergements_activites:hover {
            border-bottom: 3px solid #0065FC;
            color: #0065FC;
        }

        .hebergements-activites a:hover {
            border-top: none;
        }

    } 

@media all and (max-width: 375px) {
        #Activites-a-Marseille {
            margin-left: 50px;
        }

        .titre-activites {
            margin-left: 12px;
        }

        .sinscrire {
            position: absolute;
            bottom: 50%;
            right: -15%;
        }

        .hebergementancre {
            margin-left: 35px;
        }

        .activite1,
        .activite2,
        .activite3,
        .activite4,
        .activite5,
        .activite6 {
            margin-left: -10px;
        }

        .activites {
            padding-left: 0px;
        }

        .box-populaire-carte {
            max-width: 260px;
            padding-right: 20px;
        }

        #container-hebergements-populaires {
            padding-right: 0px;
        }

        .carte-hebergement {
            max-width: 300px;
        }

        .photo-hebergement {
            width: 265px;
        }

        #hebergements-a-marseille {
            padding-right: 11px;
        }

        .photo-activite11,
        .photo-activite22,
        .photo-activite33,
        .photo-activite44,
        .photo-activite55,
        .photo-activite66 {
            width: 260px;
        }

        .activite1,
        .activite2,
        .activite3,
        .activite4,
        .activite5,
        .activite6 {
            max-width: 270px;
        }

        #Activites-a-Marseille {
            margin-left: 30px;
        }

        .titre-activites {
            margin-left: 20px;
        }

        footer {
            flex-direction: column;
        }
    }

@media all and (max-width: 320px) {
        footer {
            max-width: 320px;
        }

        #container-hebergements-populaires {
            max-width: 320px;
            padding-left: 18px;
            padding-right: 10px;
        }

        #hebergements-a-marseille {
            padding-left: 8px;
            padding-right: 5px;
        }

        #Activites-a-Marseille {
            margin-left: 40px;
        }

        .titre-activites {
            margin-left: 0px;
        }

        .titre-principal,
         #section-recherche {
            margin-left: -10px;
        }

        .box-populaire-carte {
            padding-right: 10px;
        }

    }
}